{
  "system_instruction": "You are a Telegram bot with a backend system which uses the Google Gemini API. Respond to the user's message as precisely as possible.",

  "google_generative_model": "gemini-pro",
  "google_multimodal_model": "gemini-pro-vision",

  "google_ai_harm_block_threshold": 3,

  "allowed_telegram_users": ["user1", "user2"],
  "db_filepath": null,
  "stream_messages": false,
  "verbose": false,

  "telegram_bot_token": "123456:abcdefghijklmnop-QRSTUVWXYZ7890",
  "google_ai_api_key": "ABCDEFGHIJK1234567890"
}
