{
  "google_generative_model": "gemini-3-pro-preview",
  "google_generative_model_for_image_generation": "gemini-3-pro-image-preview",
  "google_generative_model_for_speech_generation": "gemini-2.5-flash-preview-tts",
  "google_generative_model_for_video_generation": "veo-3.1-generate-preview",

  "google_generative_model_for_speech_generation_voice": "Autonoe",

  "allowed_telegram_users": ["user1", "user2"],
  "db_filepath": null,
  "answer_timeout_seconds": 180,

  "verbose": false,

  // telegram bot token
  "telegram_bot_token": "123456:abcdefghijklmnop-QRSTUVWXYZ7890",

  // api key for credentials for gemini
  "google_ai_api_key": "ABCDEFGHIJK1234567890",
  /*
  "google_credentials_filepath": "/path/to/google-credentials-01234-abcdefghijklmn.json",
  "location": "global",
  "bucket": "google-cloud-storage-bucket-name",
  */
}
