{
  "google_generative_model": "gemini-1.5-flash-latest",
  "google_ai_harm_block_threshold": 3,

  "allowed_telegram_users": ["user1", "user2"],
  "db_filepath": null,
  "answer_timeout_seconds": 180,
  "replace_http_urls_in_prompt": false,
  "verbose": false,

  "telegram_bot_token": "123456:abcdefghijklmnop-QRSTUVWXYZ7890",
  "google_ai_api_key": "ABCDEFGHIJK1234567890"
}
